:root {
    --color-1: #dc143c;
}



.container {
    
    height: 10vh;

}

.header {
    line-height: 1.5;
    font-family: sans-serif;
    background-color: #c6cde0;
    background-color: var(--color-1);
    background-color: #dc143c;
    padding: 12px 0;
    position: relative;
    margin: 0;



}

.piclogo {
    height: 70px;
    width: 75px;
    border-radius: 55%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.navigation {
    max-width: 1170px;
    margin: auto;

}

.butwalbood{

    background-color: aqua;
}
.butwalbood a span{
    color: crimson;
}

.navrow {
    display: flex;
    flex-wrap: wrap;
}

.align-iteams-center {
    align-items: center;

}

.justify-content-between {
    justify-content: space-between;

}

.header {
    background-color: var(--color-1);
    padding: 12px 0;
}

.header .navlogo {}

.header .nav {
    padding: 0 0;

}

.header .navlogo {}

.header .nav ul li {
    display: inline-block;
    margin-left: 40px;
}

.header .nav ul li a {
    display: block;
    font-size: 16px;
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.7);
    text-transform: capitalize;
    transition: all 0.5s erase;
}

.header .nav ul li a:hover,
.header .nav ul li a .active {
    color: #ffffff;
    transform: translateX(-7px);

}

.header #nav-check {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.nav-toggler {
    height: 34px;
    width: 44px;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.nav-toggler span {
    display: block;
    height: 2px;
    width: 20px;
    background-color: var(--color-1);
    position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-1);
    left: 0;
}

.nav-toggler span::before {
    top: -6px;
}

.nav-toggler span::after {
    top: 6px;
}

/* about us

h2{
    font-size: 3rem;
    color: darkblue;
    text-align: center;
    padding-top: 20px;
}
 
.service{
 align-items: center;
 padding: 20px;
 font-size: 1.5em;
 color: black;
 height: fit-content;

} */
/* aboutus */

.wholeabt h2 {
    font-size: 2.2em;
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.service {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
 

}

.service p {

    align-self: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 1.5em;
    background-color: crimson;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 5%;
    color: whitesmoke;
  

}
.service2{
  display: flex;
  flex-direction: row;
  height: 70vh;
 
  align-items: center;
  justify-content: center;


}
.service2{
    align-self: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 1em;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 5%;
    color:black;

}
.pcontent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pcontent h4{
    text-align: center;
}




@media(max-width:991px) {

    .nav-toggler {
        display: flex;
    }

    .header .nav {
        position: absolute;
        left: 0;

        top: 100%;
        width: 100%;
        background-color: var(--color-1);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        padding: 12px 0;

    }

    .header .nav ul li {
        display: block;
        margin: 0;
    }

    .header #nav-check:checked~.nav {
        opacity: 1;
        visibility: visible;

    }

    .header #nav-check:focus~.nav-toggler {
        box-shadow: 0 0 15px #000000;
    }

    .header #nav-check:checked~.nav-toggler span {
        background-color: transparent;
    }

    .header #nav-check:checked~.nav-toggler span::before {
        top: 0;
        transform: rotate(45deg);
    }

    .header #nav-check:checked~.nav-toggler span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    .wholeabt h2 {
        font-size: 1.1em;
        /* color: black;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
        margin-bottom: 2vh;
    }

    .service {
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;

    }

    .service p {
        align-self: center;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 10%;
        padding-bottom: 10%;
        font-size: 0.8em;
        background-color: crimson;
        border-top-left-radius: 30%;
        border-bottom-left-radius: 5%;
        color: whitesmoke;
    }
    .service img{
        display: none;
    }



}