* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}

body {
    position: relative;
    background: #00b3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

::selection{
    color: #ececec;
    background: #00b3ff;
}
.form{
    position: relative;
    background: #f2f2f2;
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: -3px 3px 10px -5px rgba(0,0,0,0.2);
    padding: 30px 30px;
 line-height: 1.5rem;
}
.form h1{
    font-size: 30px;
    font-weight: 700;
}
.form form .error-text{
    display: none;
    color: #851923;
    padding: 4px 6px;
    text-align: center;
    border-radius: 4px;
    background: #ffe3e5;
    border: 1px solid #dfa5ab;
    margin-bottom: 8px;
}
.form form .input input{
    height: 40px;
    width: 100%;
    font-size: 14px;
    padding: 0 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.form form .input input:focus,
.form form .input input:valid{
    border: 2px solid #00b3ff;
    transition: 0.1s ease;
    outline: none;
}

 select option{
    font-size: 18px;
    height: 35px;
    
    margin-top: 10px;
}
select{
    font-size: 18px;
    height: 35px;
    margin-top: 10px;
    border: 1px solid black;
    width: 100%;
} 
.form form input.button{
    height: 45px;
    border: none;
    color: #f2f3f7;
    width: 100%;
    background:#006692;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 13px;
    border: 2px solid #2983aa;
    cursor: pointer;
}
.form .link{
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
}
.form .link a{
    color: #006692;
    text-decoration: none;
}
.form .link a:hover{
    text-decoration: underline;
}